django==2.2.10
psycopg2==2.8.4
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
django-cors-headers==3.2.1
drf-chunked-upload==0.4.2
sentry_sdk==0.14.2
schema==0.7.1
gunicorn==20.0.04
git+https://github.com/zapier/django-rest-hooks.git@d21a070b9a099b5e9c755b2afa6b81c9d8b26e7c#egg=django_rest_hooks-1.6.0
sendgrid==6.2.0
