django==2.2.13
psycopg2==2.8.6
djangorestframework==3.12.2
PyJWT==1.7.1
djangorestframework_simplejwt==4.3.0
django-cors-headers==3.6.0
drf-chunked-upload==0.4.2
sentry_sdk==0.19.5
schema==0.7.2
gunicorn==20.0.04
git+https://github.com/zapier/django-rest-hooks.git@d21a070b9a099b5e9c755b2afa6b81c9d8b26e7c#egg=django-rest-hooks
sendgrid==6.4.8
analytics-python==1.2.9
cchardet==0.3.5
django-next-prev
python-logstash==0.4.6
drf-yasg2
python-dotenv
email-validator==1.1.1
requests
google-auth==1.24.0
typing_extensions==3.7.4