.hl-calendar {
  /* background-color: #6648ee;
  opacity: 0.15;
  z-index: 10; */
  font-family: 'Lambdas';
  font-weight: 500;
}

.react-datepicker__day--selected, .react-datepicker__day--selected {
  font-weight: 600;
  background-color: #6648ee;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--selected:hover {
  background-color: #886df4;
}

.hl-day:focus {
  outline: none !important;
}

.react-datepicker__header {
  background-color: #f6f8f9;
}

.react-datepicker__navigation {
  height: 15px;
  width: 15px;
}

.react-datepicker__navigation:focus {
  outline: none !important;
}
