<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="invite.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <title>Human Lambdas Invite</title>
  </head>

  <body>
    <img id="logo" src="HL-logo.png" />
    <h1>
      You've been invited to join {{ organization_name }} by {{ invite_sender }}
    </h1>
    <h4>Once you accept, you will be able to work this organization's tasks</h4>
    <div id="centerContainer">
      <button href="{{ invite_link }}">Accept Invite</button>
    </div>
  </body>
</html>
