h1 {
  width: 100%;
  text-align: center;
}

h4 {
  width: 100%;
  text-align: center;
}

#centerContainer {
  width: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  padding-top: 80px;
}

button {
  justify-self: center;
  width: 164px;
  margin-left: calc(50% - 82px);
  background-color: #6648ee;
  border: none;
  height: 24px;
  border-radius: 12px;
  color: white;
}

#logo {
  width: 100px;
  height: 100px;
  margin-left: calc(50% - 50px);
}
